@font-face {
    font-family: "Roboto-Regular";
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url('./assets/fonts/Oswald-SemiBold.ttf');
}

@font-face {
    font-family: "Roboto-Black";
    src: url("./assets/fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("./assets/fonts/Roboto-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .vertical-container-lg{
        min-height: calc(100vh - 166px);
        max-height: calc(100vh - 166px);
    }

    .vertical-container-sm{
        min-height: calc(100vh - 166px);
    }

    .vertical-container{
        min-height: calc(100vh - 383px);
        max-height: calc(100vh - 383px);
    }

    .horizontal-container{
        width: 100vw;
        left: calc(-50vw + 50%);
    }

    .button-primary {
        min-width: 150px;
        max-width: 250px;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }

    .button-primary::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transition-timing-function: cubic-bezier(.15, 1.82, .7, .4);;
        transition-timing-function: cubic-bezier(.15, 1.82, .7, .4);;
    }

    .button-primary:hover::after {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .button-primary:hover::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }

    .text-vertical{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .button-vertical {
        min-width: 80px;
        max-width: 250px;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }

    .button-vertical::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transition-timing-function: cubic-bezier(.15, 1.82, .7, .4);;
        transition-timing-function: cubic-bezier(.15, 1.82, .7, .4);;
    }

    .button-vertical:hover::after {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .button-vertical:hover::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }


    .filter-gold {
        filter: invert(93%) sepia(7%) saturate(6422%) hue-rotate(329deg) brightness(99%) contrast(100%);
    }

    .standard-checkbox:checked {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8 text-red-500' width='24' height='24' viewBox='0 0 24 24' fill='rgba(251, 188, 50, 1)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z'/%3E%3C/svg%3E");
        background-color: black;
    }

    .standard-radio:checked {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8 text-red-500' width='24' height='24' viewBox='0 0 24 24' fill='rgba(251, 188, 50, 1)'%3E%3Crect fill='none' height='20' width='20'/%3E%3Cpath d='M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z'/%3E%3C/svg%3E");
        background-color: black;
    }

    .standard-range {
        -webkit-appearance: none;
        background-color: black;
        background-image: linear-gradient(#FBBC32, #FBBC32);
        background-size: 45% 100%;
        border-radius: 50px;
        background-repeat: no-repeat;
        height: 2px;
        width: 100%;
    }

    .standard-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: black;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8 text-red-500' width='24' height='24' viewBox='0 0 24 24' fill='rgba(251, 188, 50, 1)'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M7.77 6.76L6.23 5.48.82 12l5.41 6.52 1.54-1.28L3.42 12l4.35-5.24zM7 13h2v-2H7v2zm10-2h-2v2h2v-2zm-6 2h2v-2h-2v2zm6.77-7.52l-1.54 1.28L20.58 12l-4.35 5.24 1.54 1.28L23.18 12l-5.41-6.52z'/%3E%3C/svg%3E");
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: polygon(
                30% 10%, 70% 10%, 100% 50%, 70% 90%, 30% 90%, 0% 50%
        );
    }

    .standard-range:focus {
        outline: none;
    }

    .standard-range::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }


    .full-content{
        animation-name: animateFullHeight;
        animation-duration: 1000ms;
        animation-timing-function: ease-out;
    }

    @keyframes animateFullHeight {
        from {
            max-height: 500px;
        } to {
        max-height: 3000px;
        }
    }

    .preview-content{
        animation-name: animatePreviewHeight;
        animation-duration: 1000ms;
        animation-timing-function: ease-out;
    }

    @keyframes animatePreviewHeight {
        from {
            max-height: 3000px;
        } to {
              max-height: 500px;
          }
    }

    .custom-scrollbar-item::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar-item::-webkit-scrollbar-track{
        background-color: black;
    }

    .custom-scrollbar-item::-webkit-scrollbar-thumb{
        background-color: #FBBC32;
    }

    .box-like:after{
        transform: rotateY(20deg) skewY(-25deg);
    }
}

